<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classic Rides Amusements</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<body id="myPage" data-spy="scroll" data-target="main-navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to 'Classic Rides Amusements', root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#more">More</a></li> 
      </ul>
    </div>
  </div>  
</nav>

<div id="home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element58.jpg" alt="Sea Dragon" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Classic Rides Amusements</h3>
          <p>Family owned and operated weekend carnival park.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://www.classicridesamusements.com/publishImages/~master~master~~master12.JPG" alt="Games" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Games</h3>
          <p>Games and prizes.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="http://www.classicridesamusements.com/publishImages/About-Us~~element49.JPG" alt="Concessions" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Family-Owned Carnival</h3>
          <p></p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- About Section -->
<div id="about" class="container text-center">
  <h3>CLASSIC RIDES AMUSEMENTS</h3>
  <p><em>Family Owned and Operated!</em></p>
  <p>CLASSIC RIDES AMUSEMENTS is a family-owned and operated carnival company complete with rides, games, and food. Owners Jerry Baque and Tom Baque have spent their entire life in the carnivlbusiness working for their aunt and uncle Bob and Cindy Swartwood, supervising, maintaing and improving units on Swartwood Amusement Co.  When Bob and Cindy made their decision to retire they sold the equipment to their nephews the Baque Brothers to continue the operaton under their own company names Baque Brothers and Classic Rides Amusements.  So with the help of their cousin Phillip Riggi, unle Jack Swartwood, wives Alicia and Diana, sons Tommy and Eddie Baque and other key staff to continue the operation with the same excellence and proffessionalism that their customers and patrons have always enjoyed. </p>
  <br> 
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Games</strong></p><br>
      <a href="about" data-toggle="collapse" aria-expanded="true">
        <img src="http://www.classicridesamusements.com/center_joints.jpg" class="img-circle person" alt="Games" width="255" height="255">
      </a>
      <div id="about" class="collapsed" aria-expanded="true">
        <p>Games</p>
        <p>Classic midway games include duck ponds, catching gold fish, basketball, and derby races.</p>
        <p>Upgrade or collect licensed prizes and pictures.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Refreshments</strong></p><br>
      <a href="about2" data-toggle="collapse" aria-expanded="true">
        <img src="http://s8.favim.com/orig/72/carnival-photography-vintage-Favim.com-725629.jpg" class="img-circle person" alt="Candy wagon" width="255" height="255">
      </a>
      <div id="about2" class="collapsed" aria-expanded="true">
        <p>Refreshments</p>
        <p>Carnival food and treats.</p>
        <p>Cotton candy, snow cones, soda, and delicious food.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Classic rides</strong></p><br>
      <a href="about3" data-toggle="collapse" aria-expanded="true">
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element64.jpg" class="img-circle person" alt="Carnival at Night" width="255" height="255">
      </a>
      <div id="about3" class="collapsed" aria-expanded="true">
        <p>Classic Rides</p>
        <p>Experience Southern California's very own carnival park.</p>
        <p>Great environment with safe and fun rides or games, best weekend entertainment.</p>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Specializing in Catholic Church Festivals, Street Fairs, Community Fairs and Celebration.  We also provide rides and games on a rental basis for everything from one day company picnics to tv shoots and movie productions. We have an ideal mix of spectacular thrill rides, classic family rides and popular kiddie rides making Classic Rides Amusements the right choice for your next event.</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Questions, comments? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Rancho Cucamonga, California</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: 1(909)595-2734</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: jbclassicrides@yahoo.com<br>baquebros@yahoo.com</p>    
    </div>
  
<div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>  
    </div>
  </div>
</div>
  
<div id="more" class="container">
  
  <h2 class="text-center">Rides and Games</h2>
  <p class="text-center">Classic ferris-wheels and fun house, thrill rides and other various midway rides. Fun games with great prizes from sport to skill test fun.</p>            
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element67.jpg" class="thumbnail">
        <p>The Zipper, a spin-cage, heart racing, ride that refreshes your vertical senses.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element67.jpg" alt="Zipper" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/mega_loop_1.JPG" class="thumbnail">
        <p>The Mega Loop is a rollercoater style thrill ride always with a scenic route.</p>    
        <img src="http://www.classicridesamusements.com/mega_loop_1.JPG" alt="mega Loop" style="width:150px;height:150px;">
      </a>  
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/sizzler_5.JPG" class="thumbnail">
        <p>Sizzler, closest thing to driving super speeds in a classic 50's style car.</p>    
        <img src="http://www.classicridesamusements.com/sizzler_5.JPG" alt="Sizzler" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element69.JPG" class="thumbnail">
        <p>Derby Race for awesome prizes.</p>          
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element69.JPG" alt="Derby Race" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element65.JPG" class="thumbnail">
        <p>Fun Slide</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element65.JPG" alt="Fun Slide" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element62.JPG" class="thumbnail">
        <p>Bumper Cars!</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element62.JPG" alt="BC" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/pr_ventura_2012.jpg" class="thumbnail">
        <p>The Mini-Boat is a great ride like the Sea Dragon, for the little ones.</p>    
        <img src="http://www.classicridesamusements.com/pr_ventura_2012.jpg" alt="Mini-boat" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element52.JPG" class="thumbnail">
        <p>Caterpillar rollercoaster, all smiles and adventure.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element52.JPG" alt="Caterpillar" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element56.JPG" class="thumbnail">
        <p>Superman-Mini is a heroic experience, the lights and flying is great kids fun.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element56.JPG" alt="Superman-mini" style="width:150px;height:150px">
      </a>
    </div>
  </div>  
</div>
  
<!-- Add Google Maps -->
<div id="map-responsive" class="container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105692.02016334301!2d-117.6278781732474!3d34.12393356930461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c35bf938112791%3A0xad6a7aad82f2f34b!2sRancho+Cucamonga%2C+CA!5e0!3m2!1sen!2sus!4v1471129689609" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Prevent default anchor click behavior
    event.preventDefault();
    // Store hash
    var hash = this.hash;
    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 300, function(){
   
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
})
</script>

<div class="container">
    <%= yield %>
</div>

</body>
</html>